{% extends 'base.html' %}

{% block content %}
<h2>Welcome, {{ request.user.username }}!</h2>
<h3>Your Files:</h3>
{% if files %}
<ul>
    {% for file in files %}
    <li>{{ file.file.name }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No files uploaded yet</p>
{% endif %}
<h3>Upload a file:</h3>
{% if messages %}
<ul>
    {% for message in messages %}
<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}

</ul>
{% endif %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="file">File:</label>
        <input type="file" name="file" required>
    </div>
    <div>
        <button type="submit">Upload</button>
    </div>
</form>
{% endblock %}